@media (max-width: 1080px) {
    .mistura-img-container{
        flex-direction: column;
        align-items: center;
    }
    .produtos-container {
        flex-direction: column;
        align-items: center;
    }
    .item {
        margin-bottom: 40px;
    }
    .news-container{
        flex-direction: column;
        margin-left: 10px;
    }
    .locais-cl{
        flex-direction: column;
    }
}

@media (max-width: 608px) {
    .menu-img {
        margin: 0;
        margin-bottom: 15px;
    }
    .menu-nav {
        margin: 0;
    }
    .main div h1, .mistura h2, .news-left h2,  .img-container p{
        font-size: 1.8rem;
    }
    .main p , .news-left p{
        font-size: 0.8rem;
    }
    .news-container form input{
        max-width: 230px;
        display: flex;
    }
    .news-container form button{
        margin-top: 10px;
        position: inherit;
    }
    .menu-container{
        padding: 0 10px;
    }
    .menu-nav{
        opacity: 0;
        display: block;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        top: -10px;
        left: 0;
        background: rgb(20, 20, 20, 0.9);
        z-index: -100;
        font-size: 2rem;
    }
    .menu-nav.ativado{
        opacity: 1;
        display: block;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        top: 0px;
        left: 0;
        background: rgb(20, 20, 20);
        z-index: 2000;
        font-size: 2rem;
        transition: 1s;
    }
    .menu-nav.ativado ul{
        flex-direction: column;
        gap: 80px 0;
    }

    .footer-container{
        flex-direction:column-reverse;
    }
    .footer-container img {
        margin-bottom: 20px;
    }
    .img-container img{
        max-width: 300px;
    }
    .mobile-content{
        display: block;
    }

    .mobile-content.at{
        z-index: 10000;
    }

    .btn-mobile.ativ{
        width: 20px;
        height: 2px;
        cursor: pointer;
        border-top:0;
        margin: 5px auto;
    }
    
    .btn-mobile.ativ::before{
        transform: rotate(-45deg);
    
    }

    .btn-mobile.ativ::after{
        margin-top: -2px;
        transform: rotate(45deg);
    }



}

@media (max-width: 350px) {
    .menu-nav a{
        font-size: 0.8rem;
    }
}