
/*reset*/
* {
    margin:0 ;
    padding: 0;
}

/*box*/
*{
    box-sizing: border-box;
}
/*font*/
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #252525;
}
/*container*/
.container {
    max-width: 960px;
    margin: 0 auto;
}

/*menu*/
.menu {
    background: #252525;
    padding: 20px 0;
}
.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-img {
    margin-left: 10px;
}
.menu-nav {
    margin-right: 10px;
}

.menu-nav ul {
    display: flex;
    align-items: center;
}

.menu-nav a {
    padding: 10px;
    text-decoration: none;
    color: #FFF;
    font-size: 1.125em;
    overflow: hidden;
    display: block;
    position: relative;
}

.menu-nav a::before{
    content: "";
    width: 30px;
    position: absolute;
    border-bottom: 2px solid #fff;
    right: 350px;
    bottom: 0;
    transition: 0.6s all;
}

.menu-nav a:hover::before{
    right: 0;
}

.menu-nav li {
    display: inline-block;
}
.menu-nav li:hover{
    text-decoration: underline;
}

.mobile-content{
    height: 40px;
    width: 40px;
    cursor: pointer;
    display: none;
}


.btn-mobile{
    width: 30px;
    height: 3px;
    cursor: pointer;
    border-top: 3px solid #FFF;
    margin: 7px auto;
    transition: 0.4s;
}

.btn-mobile::after ,.btn-mobile::before{
    content: "";
    display: block;
    height: 3px;
    width: 30px;
    background:#FFF;
    margin-top: 7px;
    transition: .4s;

}

/*main*/
.main {
    background: url(../img/bg-intro.jpg) no-repeat center center;
    background-size: cover;
    padding: 150px 0;
}
.main div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main div h1 {
    font-size: 3rem;
    color: #FFF;
    text-transform: uppercase;
}
.main div h1::after {
    content: "";
    display: block;
    width: 20px;
    height: 4px;
    background: #FFF;
    margin: 10px auto;
}   
.main p {
    font-size: 1.125rem;
    font-style: italic;
    color: #FFF;
}

/*mistura*/
.mistura {
    padding: 60px;
}
.mistura-img-container {
    display: flex;
}
.mistura h2 {
    text-align: center;
    font-size: 2.25rem;
}
.img-container {
    margin:60px 10px 0 10px;
}
.img-container p {
    width: 220px;
    background: #252525;
    color: #FFF;
    text-align: center;
    font-size: 2.225rem;
    font-style: italic;
    position: relative;
    top: -25px;
    padding: 3px 0 10px 0;
}
.mistura-desc p {
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
    max-width: 550px;
    font-style: italic;
    font-size: 1.125rem;
    line-height: 1.4rem;
}


/*produtos*/
.produtos {
    background: #e7e4d8;
    border-top: 3px solid #d6d3c8;
    border-bottom: 3px solid #d6d3c8;
    padding: 60px;
}
.produtos-container {
    display: flex;
}
.produtos-item1 , .produtos-item2, .produtos-item3 {
    margin: 0 10px;
}
.produtos-item1 h2::before , .produtos-item2 h2::before, .produtos-item3 h2::before{
    content: "";
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #e7e4d8;
    margin-bottom: 35px;
}
.produtos-item1 h2::before{
    background: #492901;
    box-shadow: 0 0 0 10px #492901;
}
.produtos-item2 h2::before {
    background: #c17139;
    box-shadow: 0 0 0 10px #c17139;
}
.produtos-item3 h2::before {
    background: #d7a54d;
    box-shadow: 0 0 0 10px #d7a54d;
}
.produtos h2 {
    text-align: center;
    font-size: 2.25rem;
    margin-bottom: 20px;
}
.produtos p {
    font-size: 0.875rem;
    line-height: 1.4rem;
    text-align: center;
}
.produtos-bt{
    width: 180px;
    display: block;
    margin: 30px auto 0 auto;
    padding: 15px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #252525;
    border:3px solid #252525;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.125rem;
}
.produtos-bt:hover{
    text-decoration: underline;
}

/*local*/
.locais-cl {
    display: flex;
    margin: 70px 10px;
}
.local-item{
    margin-left:20px ;
}
.local-item h2{
    font-size: 2.225rem;
}
.local-item p {
    margin-top: 20px;
    max-width: 320px;
    font-size: 1.125rem;
    line-height: 1.4rem;
    margin-bottom: 40px;
}
.local-item a {
    text-decoration: none;
    font-size: 1.125rem;
    color: #252525;
    border: 3px solid #252525;
    text-transform: uppercase;
    padding: 10px 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.local-item a:hover{
    text-decoration: underline;
}

/*news*/
.news {
    background: #e7e4d8;
    padding: 30px 0;
}
.news-container {
    display: flex;
    justify-content: space-between;
}
.news-left h2 {
    font-size: 2.25rem;
}
.news-left p {
    margin-left: 10px;
    font-size: 1.5rem;
    font-style: italic;
}
.news-container form {
    margin: auto 0;
    margin-right: 10px;
}
.news-container form input {
    border: 3px solid #252525;
    background: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    padding: 10px;
    width: 320px;
    font-size: 1.5rem;
}
.news-container form button{
    text-transform: uppercase;
    color: #FFF;
    background: #252525;
    border:none;
    width: 140px;
    padding: 13px;
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    left: -6px;
    cursor: pointer;
}

.footer {
    background: #d6d3c8;
    padding: 40px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*animações*/

/*scroll-fade*/
[data-anim]{
    opacity: 0;
    transition: 2s;
}

[data-anim ="left"]{
    transform: translate3d(-300px,0,0);
}

[data-anim ="right"]{
    transform: translate3d(-300px,0,0);
}

[data-anim].animate{
    opacity: 1;
    transform: translate3d(0,0,0);
}


/*scroll-suave*/
.scroll-top{
    opacity: 0;
    position: fixed;
    top: 80vh;
    transition: 4s;
}
.scroll-top.ativo{
    opacity: 1;
    background: rgba(37, 37, 37);
    width: 70px;
    height: 70px;
    right: 30px;
    top: 85vh; 
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    transition: all .3s ease;
    border-radius: 50%;
    transition: 1s;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
    user-select: none;
}

.scroll-top.ativo:hover{
    background: rgba(59, 59, 59, 0.9);
}

.scroll-top.ativo div {
    display: flex;
    height: 5px;
    width: 25px;
    background: #FFF;
    
}

.div-1{
    transform: rotate(-45deg);
    position: absolute;
    left: 15px;
}

.div-2{
    transform: rotate(45deg);
    position: absolute;
    right: 15px;
}

/*modal*/

.modal{
    display: none;
}

.modal.ativo{
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 2000;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.modal-grid{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 500px) {
    .modal-grid{
        flex-direction: column;
    }
}

.modal-content{
    padding: 30px;
    min-width: 300px;
    background: #e7e4d8;
    border: 10px solid #d7a54d;
    box-shadow: 0 0 0 10px #e7e4d8;
    position: relative;
}



.modal-content img {
    width: 90px;
    height: 90px;
    margin: 30px;
    border: 8px solid #d7a54d;
    border-radius: 50%;
}
.modal-content img:hover{

    border: 6px solid #b98e44;

}

.fechar {
    position: absolute;
    border-radius: 50%;
    background:#b98e44;
    width: 50px;
    height: 50px;
    top: -30px;
    right: -30px;
    border: solid 4px #e7e4d8;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.fechar:hover{
    background: #d7a54d;
}

.x1{
    height: 5px;
    width: 20px;
    background: #e7e4d8;
    transform: rotate(-45deg);
    position: absolute;
    top: 18px;
    right: 11px;
}

.x2{
    height: 5px;
    width: 20px;
    background: #e7e4d8;
    transform: rotate(45deg);
    position: absolute;
    top: 18px;
    right: 11px;
}
